.container-vertical-bar {
    height:4px;
    .verticalBar {
        position: absolute;
        top: 50%;
        width: 2px;
        height: 20px;
        background-color: #000;
        transform: translateY(-50%);
        margin: 0px 8px;
    }
}
